*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
header{
    background-color: rgb(12, 12, 71);
}
titulo{
    background-color: rgb(76, 76, 119);
   justify-content: center;
    align-items: center;
    
}
#titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(230, 230, 245);

}